<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel='stylesheet' href='/CSS/style.css'/>
</head>
<body>
    {{>header}}
    <h1 id='aboutUs'>About Us</h1>
    <p id='about-para'>PM(password-manager) was created by Narpath Kumar in 2020. It helps in maintaining the website-credentials of the user for better UI/UX. The main motive for the creation of this feature was to making a user freindly manager for autofilling their credentials respectively.</br> In the app you got an store page with a simple form where you can add your website url and password which will get stored for you .</br> And in the fetch page you can get your password for your required website you enter in the form </br> Thank You.</p>
</body>
</html>